* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 100px;
}

header {
    font-family: 'Raleway', sans-serif;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 15px;
    font-weight: 300;
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    font-size: 13px;
}

header img {
    width: 115px;
    height: 35px;
}

.section-1 {
    display: flex;
    margin: 125px 0;
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
}

.section-1 img {
    width: 800px;
    height: 300px;
    margin-left: 200px;
}

.section-1 h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-1 p {
    font-size: 15px;
    margin-bottom: 20px;
}

.section-1 input {
    width: 250px;
    height: 35px;
    font-size: 13px;
    padding: 10px;
    color: hsl(0, 0%, 75%);
    opacity: 70%;
    border-radius: 3px;
    border: 1px solid hsl(238, 22%, 44%);
}

.section-1 button {
    width: 150px;
    height: 35px;
    font-size: 13px;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: 2px solid hsl(224, 93%, 58%);
    border-radius: 3px;
}
